{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>SAHACHARI SKSSF KANNUR | ONLINE PORTAL</title>  <!-- Extra details for Live View on GitHub Pages -->
  <!-- Canonical SEO -->
  <link rel="canonical" href="https://www.creative-tim.com/product/argon-dashboard-pro" />

  <link rel="icon" href={% static "assets/img/brand/favicon.png" %} type="image/png"/>
  <!-- Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"/>
  <!-- Icons -->
  <link rel="stylesheet" href={% static "assets/vendor/nucleo/css/nucleo.css" %} type="text/css"/>
  <link rel="stylesheet" href={% static "assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" %} type="text/css"/>
  <!-- Argon CSS -->
  <link rel="stylesheet" href={% static "assets/css/argon.min.css" %} type="text/css"/>
  <!-- Google Tag Manager -->

  <!-- End Google Tag Manager -->
</head>

<body class="bg-default">
  <!-- Google Tag Manager (noscript) -->
  <!-- End Google Tag Manager (noscript) -->
  <!-- Navbar -->
  <!-- Main content -->

      <div class="header bg-gradient-primary py-7 py-lg-8 pt-lg-9">
      <div class="container">
        <div class="header-body text-center mb-7">
          <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 col-md-8 px-5">
              <h1 class="text-white">Application Status<br>Applicant Name:  {{ data.name }}<br> Application No: {{ data.dylnumber }}</h1>

              <p class="text-lead text-white">For More Details Contact SKSSF {{ data.unit }} Unit Committee.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </div>

    <!-- Page content -->
    <div class="container mt--8 pb-5">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
          <div class="card bg-secondary border-0 mb-0">
<div class="card-header bg-transparent">
              <h3 class="mb-0">Application Status</h3>
            </div>
          {% if code %} <br/>
              <div class="card-body">

                    <label class="form-control-label" >Coupon Code</label>
                    <button class="btn btn-outline-info" type="button" disabled>{{ code.otp }}</button>
                    
                    <label class="form-control-label" >Coupon Remaining</label>
                    <button class="btn btn-outline-info" type="button" disabled>{{ code.dylrem }}</button>

              </div>{% endif %}
              <div class="card-body">
              <div class="timeline timeline-one-side" data-timeline-content="axis" data-timeline-axis-style="dashed">
                <div class="timeline-block">
                  <span class="timeline-step badge-success">
                    <i class="ni ni-bold-up"></i>
                  </span>




                  <div class="timeline-content">
                      <small class="text-muted font-weight-bold">District Approval</small>
                    <h5 class=" mt-3 mb-0">{{data.dist_approve}}</h5>
   {% if data.dist_approve == 'PENDING' %} <small class="text-muted font-weight-bold">Phone Number : 9656154460 </small>{% endif %}
                  </div>
                </div>
                <div class="timeline-block">
                  <span class="timeline-step badge-success">
                    <i class="ni ni-bold-up"></i>
                  </span>
                  <div class="timeline-content">
                    <small class="text-muted font-weight-bold">Zonal Approved</small>
                    <h5 class=" mt-3 mb-0">{{data.zonal_approve}}</h5>
                          {% if data.zonal_approve == 'PENDING' %} <small class="text-muted font-weight-bold">Phone Number : {{ zoneno.phone}} </small>{% endif %}

                  </div>
                </div>
                <div class="timeline-block">
                  <span class="timeline-step badge-success">
                    <i class="ni ni-bold-up"></i>
                  </span>
                  <div class="timeline-content">
                      <small class="text-muted font-weight-bold">Cluster Approval</small>
                    <h5 class=" mt-3 mb-0">{{ data.cluster_approve }}</h5>
                          {% if data.cluster_approve == 'PENDING' %} <small class="text-muted font-weight-bold">Phone Number : {{ clusterno.phone }} </small>{% endif %}

                  </div>
                </div>
                <div class="timeline-block">
                  <span class="timeline-step badge-success">
                    <i class="ni ni-bold-up"></i>
                  </span>
                  <div class="timeline-content">
                    <small class="text-muted font-weight-bold">Unit Approval</small>
                    <h5 class=" mt-3 mb-0">{{data.unit_approve}}</h5>
                          {% if data.unit_approve == 'PENDING' %} <small class="text-muted font-weight-bold">Phone Number : {{ unitno.phone }} </small>{% endif %}

                  </div>
                    <div class="text-center">
                  <a href="{% url 'reg' %}" class="btn btn-primary mt-4">Back to Home</a>
                </div>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <footer class="py-5" id="footer-main">
    <div class="container">
      <div class="row align-items-center justify-content-xl-between">
        <div class="col-xl-6">
          <div class="copyright text-center text-xl-left text-muted">
            &copy; 2020 <a href="#" class="font-weight-bold ml-1" target="_blank">Quicko Devops</a>
          </div>
        </div>

      </div>
    </div>
  </footer>
  <!-- Argon Scripts -->
  <!-- Core -->
  <script src={% static "assets/vendor/jquery/dist/jquery.min.js" %}></script>
  <script src={% static "assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js" %}></script>
  <script src={% static "assets/vendor/js-cookie/js.cookie.js" %}></script>
  <script src={% static "assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js" %}></script>
  <script src={% static "assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js" %}></script>
  <!-- Argon JS -->
  <script src={% static "assets/js/argon.min.js" %}></script>

</body>

</html>